<footer class="footer bg-dark text-white">
    <div class="container">
        <h1 class="mb-3 mt-5 section-title text-center">Our Sponsors and Partners</h1>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 h-100 d-flex flex-column">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3 class="text-center">Sponsor 1</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 h-100 d-flex flex-column">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3 class="text-center">Sponsor 2</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 h-100 d-flex flex-column">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3 class="text-center">Sponsor 3</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 h-100 d-flex flex-column">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3 class="text-center">Sponsor 4</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 h-100 d-flex flex-column">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3 class="text-center">Sponsor 5</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 h-100 d-flex flex-column">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3 class="text-center">Sponsor 6</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 h-100 d-flex flex-column">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3 class="text-center">Sponsor 7</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 h-100 d-flex flex-column">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3 class="text-center">Sponsor 8</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 h-100 d-flex flex-column">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3 class="text-center">Sponsor 9</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 h-100 d-flex flex-column">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3 class="text-center">Sponsor 10</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 h-100 d-flex flex-column">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3 class="text-center">Sponsor 11</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 h-100 d-flex flex-column">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3 class="text-center">Sponsor 12</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3 h-100 d-flex flex-column">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3 class="text-center">Sponsor 13</h3>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <!-- <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul> -->
                <p class="mb-lg-n5 small text-muted">Powered by Hackers/Founders . &copy; 2020 Property of
                    Hackers/Founders.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>