:host {
    .masthead {
        height: 300px;

        @media (max-width: 991px) {
            height: 75vw;
        }

        .masthead-left {
            background-image: url(../../../assets/img/bg-masthead-mobile.png);
            background-position-x: left;
            background-position-y: top;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            padding-right: 90px;
            padding-top: 185px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 645px;
            z-index: -1;

            @media (max-width: 1200px) {
                width: 600px;
            }

            @media (max-width: 991px) {
                right: 0;
                background-position-x: center;
                width: auto;
            }
        }

        .masthead-right {
            background-image: url(../../../assets/img/FCovid-by-HF-and-Hack-Fund-logo.png);
            background-position-x: left;
            background-position-y: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 600px;
            display: flex;
            flex-direction: column-reverse;
            padding-bottom: 30px;
            padding-right: 35px;
            font-size: 1.4rem;

            p {
                font-weight: 500;
                margin-top: 15px;
            }

            @media (max-width: 1200px) {
                width: 480px;
                padding-bottom: 45px;
                padding-right: 30px;
                font-size: 1.2rem;
            }

            @media (max-width: 991px) {
                left: 25px;
                right: 25px;
                bottom: 50px;
                background-position-x: center;
                background-position-y: bottom;
                width: auto;
                height: auto;

                p {
                    position: absolute;
                    bottom: -25px;
                    left: 0;
                    right: 0;
                    text-align: center;
                }
            }

            @media (max-width: 480px) {
                bottom: 50px;

                p {
                    bottom: -60px;
                    padding: 0 5rem !important;
                    font-size: 1rem;
                }
            }

            @media (max-width: 480px) {
                p {
                    padding: 0 !important;
                }
            }
        }

        .mini-logo {
            font-size: 15px;
            font-weight: 500;

            img {
                height: 15px;
                margin-bottom: 6px;
            }
        }
    }

    h6 {
        font-weight: 600;
    }

    .button-section {
        .btn {
            line-height: 1.25rem;
            font-size: 1.1rem;
            padding-bottom: 0.9rem;
            padding-top: 0.9rem;
            width: 240px;

            @media (max-width: 991px) {
                width: 100%;
            }

            &.v-center {
                @media (min-width: 991px) {
                    padding-top: 1.5rem;
                }
            }
        }
    }
}
