:host {
    .masthead {
        background-color: white;
        background-image: url(../../../assets/img/bg-masthead.png);
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;

        padding-right: 90px;
        padding-top: 185px;

        .mini-logo {
            font-size: 15px;
            font-weight: 600;

            img {
                height: 12px;
            }
        }

        p {
            font-size: 1.3rem;
            font-weight: 600;
            margin-top: 15px;
        }  
    }

    .button-section {
        .btn {
            line-height: 1.25rem;
            font-size: 1.1rem;
            padding-bottom: 0.3rem;
            padding-top: 0.3rem;
            width: 240px;

            &.v-center {
                padding-top: 0.9rem;
            }
        }
    }
}
