<!-- Masthead -->
<header class="text-dark text-lg-right text-center">
    <div class="container">
        <div class="masthead position-relative">
            <div class="masthead-left"></div>
            <div class="masthead-right">
                <p class="align-right">Hackers and Founders fighting COVID-19</p>
            </div>
        </div>
    </div>
</header>

<section class="description bg-dark">
    <div class="container bg-dark text-center text-white p-5" id="general-description">
        <p class="lead mb-0">
            COVID-19 is a once-in-a-century pandemic likely to infect millions. Our healthcare heroes are working long
            hours in difficult conditions to save lives. And they need the help of brilliant hackers and entrepreneurs
            who can bring innovation to an often antiquated system. Following are open challenges. Let’s do our part to
            fight COVID-19 worldwide.
        </p>
        <div class="button-section d-flex flex-column flex-lg-row justify-content-around mt-5">
            <a pageScroll class="btn btn-lg btn-light v-center mb-2" [routerLink]="['/home']"
                fragment="feed-the-heroes">Feed the Heroes</a>
            <a pageScroll class="btn btn-lg btn-light mb-2" [routerLink]="['/home']"
                fragment="healthcare-system-data">Healthcare
                System Data</a>
            <a pageScroll class="btn btn-lg btn-light v-center mb-2" [routerLink]="['/home']"
                fragment="covent-19">CoVent-19 Challenge</a>
        </div>
    </div>
</section>

<!-- Icons Grid -->
<section class="features-icons text-center">
    <div class="container">
        <h4 class="mb-3 mt-5 px-5 text-danger font-weight-bold font-italic">
            If there is anything innovation-driven hackers and founders know how to do, it is achieving the impossible
            with scarce resources.
        </h4>
        <h5 class="mb-4 pb-2 mt-5 section-title text-center text-dark font-weight-bold">How to Participate</h5>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div
                    class="bg-light d-flex features-icons-item flex-column h-100 mb-5 mb-lg-0 mb-lg-3 mx-auto px-4 py-3 rounded">
                    <!-- <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div> -->
                    <!-- <h3>Know More</h3> -->
                    <h6>Healthcare Providers</h6>
                    <p class="lead mb-0 flex-fill">
                        An anonymous place to share frustrations about what is not working on the front lines. If you
                        would like to speak directly to people building solutions, please complete the optional contact
                        information.
                    </p>
                    <button class="btn btn-primary" (click)="showModal()">Fill Anonymous form</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div
                    class="bg-light d-flex features-icons-item flex-column h-100 mb-5 mb-lg-0 mb-lg-3 mx-auto px-4 py-3 rounded">
                    <!-- <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto text-primary"></i>
                    </div> -->
                    <!-- <h3>Participate</h3> -->
                    <h6>Hackers and Entrepreneurs</h6>
                    <p class="lead mb-0 flex-fill">
                        We welcome developers, designers, business development professionals, project managers and more
                        to participate in hackathons to be announced.
                    </p>
                    <button class="btn btn-primary" (click)="showModal()">Participate</button>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div
                    class="bg-light d-flex features-icons-item flex-column h-100 mb-5 mb-lg-0 mb-lg-3 mx-auto px-4 py-3 rounded">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-check m-auto text-primary"></i>
                    </div>
                    <h3>Give Information</h3>
                    <p class="lead mb-0 flex-fill">
                        Seeking experts to provide context and guidance for Innovation Challenges. <br>
                        Areas of interest include healthcare administration; hardware and software; medical equipment;
                        legal; governmental, economic and environmental policy; and more.
                    </p>
                    <a class="btn btn-primary" href="#">Contact FCOVID team</a>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div
                    class="bg-light d-flex features-icons-item flex-column h-100 mb-0 mb-lg-3 mx-auto px-4 py-3 rounded">
                    <!-- <div class="features-icons-icon d-flex">
                        <i class="icon-check m-auto text-primary"></i>
                    </div> -->
                    <!-- <h3>Donate</h3> -->
                    <h6>Advisors</h6>
                    <p class="lead mb-0 flex-fill">
                        Seeking experts to provide context and guidance for Innovation Challenges.
                    </p>
                    <br>
                    <p>
                        Areas of interest include healthcare administration; hardware and software; medical equipment;
                        legal; governmental, economic and environmental policy; and more.
                    </p>
                    <button class="btn btn-primary" (click)="showModal()">Contact FCOVID team</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h5 class="mb-4 pb-2  section-title text-center font-weight-bold">About FCOVID</h5>
        <div class="row no-gutters">
            <div class="col-lg-6 text-right">
                <img class="w-100" src="../../../assets/img/how-does-work.png" alt="how-does-work">
            </div>
            <div class="col-lg-6 my-auto pt-5 pt-lg-0 px-3 showcase-text">
                <!-- <h2>Updated For Bootstrap 4</h2> -->
                <p class="lead mb-0">
                    F/COVID is the nonprofit arm of Hackers/Founders and HACK Fund, established to deliver technological
                    solutions for the COVID-19 crisis. Our Innovation Challenges are constructed to address healthcare
                    professionals’ urgent needs as they serve on the front lines.
                </p> <br>
                <p class="lead mb-0">
                    <b>Our Work</b>
                    <br>
                    Collaborate with government, healthcare and manufacturing leaders <br>
                    Source and select nonprofit startup teams from around the globe <br>
                    Provide on-demand funding and support for validated hardware and software solutions
                </p>
            </div>
        </div>
    </div>

</section>

<section class="showcase">
    <div class="container">
        <!-- <h4 class="mb-3 mt-5 px-5 text-center text-danger font-weight-bold font-italic">
            We build. We measure. We improve. We improvise. We overcome.
        </h4> -->

        <h5 class="mb-4 pb-2 mt-5 section-title text-center text-dark font-weight-bold">Active Challenges</h5>

        <div *ngFor="let challenge of (challenges | async); let index = index;" class="row no-gutters bg-light mb-5"
            [attr.id]="challenge.id">
            <div class="col-lg-6 text-white showcase-img d-flex order-lg-1" [ngStyle]="{'background-image': 'url('+challenge.home_background+')',
                'background-repeat': 'no-repeat',
                'background-position': 'center',
                'background-size': 'cover'}">
                <img [ngClass]="challenge.home_background != null ? 'm-auto' : 'w-100'" [src]="challenge.home_image"
                    alt="challenge.id">
            </div>
            <div
                class="align-items-center align-items-md-start col-lg-6 d-flex flex-column order-lg-2 px-3 showcase-text text-center text-md-left">
                <h2 class="mb-5">{{ challenge.title }}</h2>
                <p class="lead mb-0 flex-fill" [innerHTML]="challenge.description">
                </p>
                <a *ngIf="challenge.type == 'internal'" class="btn btn-lg btn-primary mt-3 text-light"
                    style="max-width: 250px;" [routerLink]="['/challenge', challenge.id]">
                    Learn more
                    <span class="fa fa-chevron-right"></span>
                </a>
                <a *ngIf="challenge.type == 'external'" class="btn btn-lg btn-primary mt-3 text-light"
                    style="max-width: 250px;" [href]="challenge.url" target="_blank">
                    Learn more
                    <span class="fa fa-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</section>

<layout-sponsor-section></layout-sponsor-section>
<!-- <app-landing-team></app-landing-team> -->