<section class="bg-dark pt-1">

    <div class="container text-white">
        <h5 class="mb-3 mt-5 section-title text-center font-weight-bold">Our Sponsors and Partners</h5>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 h-100 d-flex flex-column">
                    <img class="m-auto mw-100 logo" src="../../../../../assets/img/hack-fund-logo-lg.png"
                        alt="hack-fund-logo">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 h-100 d-flex flex-column">
                    <img class="m-auto mw-100 logo" src="../../../../../assets/img/hf-logo-lg.png" alt="hf-logo">
                </div>
            </div>
        </div>
    </div>

</section>