:host {
    header {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        height: 300px;
    }
    .banner {
        width: auto;
    }
    .full {
        width: 60%;
    }
    .bg-dark {
        span {
            opacity: 1;
            font-family: "Montserrat", Helvetica, Arial, serif;
            font-weight: 600;
            font-style: normal;
            font-size: 21px;
        }
    }
    ::ng-deep {
        .description-challenge {
            background-color: rgba(239, 239, 239, 1);
            top: 0;
            height: 278px;
            padding: 3rem;
            text-align: center;
            h3 {
                line-height: 19px;
                font-family: "Montserrat", Helvetica, Arial, serif;
                font-weight: 600;
                font-style: normal;
                font-size: 16px;
                color: rgba(47, 54, 75, 1);
                text-align: center;
                padding-bottom: 4%;
            }
            p {
                font-family: "Montserrat", Helvetica, Arial, serif;
                font-weight: 500;
                font-style: normal;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                color: rgba(47, 54, 75, 1);
            }
        }
    }
    .space {
        justify-content: space-evenly;
        h4 {
            font-weight: 800;
            font-style: normal;
            font-size: 16px;
            color: rgba(255, 255, 255, 1) !important;
            text-align: center;
            margin-top: 0 !important;
        }
    }
    .top {
        margin-bottom: 3rem !important;
    }
    ul {
        font-family: "Montserrat", Helvetica, Arial, serif;
        font-weight: 500;
        font-style: normal;
        font-size: 14px;
        color: rgba(47, 54, 75, 1);
        text-align: left;
        line-height: 36px;
        padding-top: 22px;
    }
    h4 {
        line-height: 50px;
        color: rgba(230,114,112,1.0) !important;
        margin-top: 16% !important;
    }
}
