<header class="text-dark text-lg-right text-center" class="header"
    [ngStyle]="{'background-image': 'url('+(challenge | async).home_background+')'}">
    <img [src]="(challenge | async).image" class="banner m-auto img-fluid">
</header>
<section class="bg-dark">
    <div class="container bg-dark text-center text-white p-5">
        <div class="row">
            <div class="offset-xl-2 col-xl-4 col-lg-12 d-flex align-items-center mb-2">
                <span class="m-auto m-lg-0">
                    Status: {{ (challenge | async).status }}
                </span>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 mb-2">
                <a class="btn btn-lg btn-light v-center full" href="https://startuppolicylab.wedid.it/" target="_blank">Donate</a>
            </div>
        </div>
    </div>
</section>
<section class="description-challenge" *ngIf="(challenge | async).long_description.length > 0">
    <div class="container" [innerHTML]="(challenge | async).long_description">
    </div>

</section>
<!-- Icons Grid -->
<section class="features-icons text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h4 class="mb-3 mt-5 px-5 text-danger font-weight-bold font-italic"
                    [innerHTML]="(challenge | async).description">
                </h4>
            </div>
            <div class="col-lg-6 col-md-6">
                <ul>
                    <li *ngFor="let item of (challenge | async ).points">{{ item }}</li>
                    <!-- <li>Database of available hospitals, nursing units and clinics in a geographic region</li>
                    <li>Start with cities that are most deeply affected by COVID19 today</li>
                    <li>How to purchase food and schedule delivery (morning, afternoon and night shifts)</li>
                    <li>How to determine headcount and delivery location</li>
                    <li>Arrange for delivery with a partnership, for example UberEats, DoorDash or other platforms</li>
                    <li>The website is easily translatable into different languages</li> -->
                </ul>
            </div>
        </div>
        <h5 class="mb-3 mt-5 section-title text-center text-dark font-weight-bold top">How to Participate</h5>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                <div
                    class="bg-light d-flex features-icons-item flex-column h-100 mb-5 mb-lg-0 mb-lg-3 mx-auto px-4 py-3 rounded">
                    <h5>Healthcare Providers</h5>
                    <p class="lead mb-0 flex-fill">
                        An anonymous place to share frustrations about what isn’t working on the front lines.
                        If you would like to speak directly to the people building solutions, please complete the
                        optional contact information.
                    </p>
                    <button class="btn btn-primary mt-2" (click)="showModalAnonymous()">Fill Anonymous form</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                <div
                    class="bg-light d-flex features-icons-item flex-column h-100 mb-5 mb-lg-0 mb-lg-3 mx-auto px-4 py-3 rounded">
                    <h5>ParticipateHackers and Entrepreneurs</h5>
                    <p class="lead mb-0 flex-fill">
                        We welcome developers, designers, business development professionals, project managers and more
                        to participate in hackathons to be announced.
                    </p>
                    <button class="btn btn-primary mt-2" (click)="showModalParticipate()">Participate</button>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                <div
                    class="bg-light d-flex features-icons-item flex-column h-100 mb-0 mb-lg-3 mx-auto px-4 py-3 rounded">
                    <h5>Advisors</h5>
                    <p class="lead mb-0 flex-fill">
                        Seeking experts to provide context and guidance for Innovation Challenges. <br>
                        Areas of interest include healthcare administration; hardware and software; medical equipment;
                        legal; governmental, economic and environmental policy; and more.
                    </p>
                    <button class="btn btn-primary mt-4" (click)="showModalAdvisors()">Contact FCOVID team</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                <div
                    class="bg-dark d-flex features-icons-item flex-column h-100 mb-0 mb-lg-3 mx-auto px-4 py-3 rounded space">
                    <h4>Media press Inquiries:</h4>
                    <a class="btn btn-light mb-2" href="https://hf.cx/" target="_blank">Hackers/Founders</a>
                    <a class="btn btn-light mb-2" href="https://hack.hf.cx/" target="_blank">HACK/Fund</a>
                    <a class="btn btn-light mb-2" href="mailto:media@hf.cx" target="_blank">media@hf.cx</a>
                </div>
            </div>
        </div>
    </div>
</section>