<header class="text-dark text-lg-right text-center">
    <img src="../../../assets/img/FeedAHero.png" class="banner">
</header>
<section class="bg-dark">
    <div class="container bg-dark text-center text-white p-5">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <span>
                    Dates: mm/dd/yyyy- mm/dd/yyyy
                </span>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-light v-center" href="#">Contact Challenge Leader</a>
            </div>
            <div class="col-lg-3 col-md-3">
                <a class="btn btn-lg btn-light v-center" href="#">Donate</a>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h3>Healthcare professionals around the world work long hours in difficult conditions to care for COVID-19 patients.
            And they need our help.</h3>
        <p>During a 12-24 hour shift, workers often cannot stop to eat a real meal so Feed The Heroes is dedicated to keeping valuable medical teams fed. With the this initiative, some economically-challenged restaurants could rehire laid-off staff to prepare the food necessary to keep medical professionals
        healthy and working.</p>
    </div>

</section>
<!-- Icons Grid -->
<section class="features-icons text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h4 class="mb-3 mt-5 px-5 text-danger font-weight-bold font-italic">
                    Build a website that enables individuals, organizations and companies to purchase a meal for a medical facility or department
                </h4>
            </div>
            <div class="col-lg-6 col-md-6">
                <ul>
                    <li>Database of available hospitals, nursing units and clinics in a geographic region</li>
                    <li>Start with cities that are most deeply affected by COVID19 today</li>
                    <li>How to purchase food and schedule delivery (morning, afternoon and night shifts)</li>
                    <li>How to determine headcount and delivery location</li>
                    <li>Arrange for delivery with a partnership, for example UberEats, DoorDash or other platforms</li>
                    <li>The website is easily translatable into different languages</li>
                </ul>
            </div>
        </div>
        <h5 class="mb-3 mt-5 section-title text-center text-dark font-weight-bold top">This are the different ways you can
            help</h5>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                <div
                    class="bg-light d-flex features-icons-item flex-column h-100 mb-5 mb-lg-0 mb-lg-3 mx-auto px-4 py-3 rounded">

                    <p class="lead mb-0 flex-fill">
                        An anonymous place to share frustrations about what isn’t working on the front lines.
                        If you would like to speak directly to the people building solutions, please complete the
                        optional contact information.
                    </p>
                    <a class="btn btn-primary" href="#">Contact FCOVID team</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                <div
                    class="bg-light d-flex features-icons-item flex-column h-100 mb-5 mb-lg-0 mb-lg-3 mx-auto px-4 py-3 rounded">
                    <p class="lead mb-0 flex-fill">
                        ParticipateWe welcome developers, designers, business development professionals, project
                        managers and more to participate.
                        If possible, we will connect single founders with a team.
                    </p>
                    <a class="btn btn-primary" href="#">Participate</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                <div
                    class="bg-light d-flex features-icons-item flex-column h-100 mb-0 mb-lg-3 mx-auto px-4 py-3 rounded">
                    <p class="lead mb-0 flex-fill">
                        Seeking experts to provide context and guidance for Innovation Challenges. <br>
                        Areas of interest include healthcare administration; hardware and software; medical equipment;
                        legal; governmental, economic and environmental policy; and more.
                    </p>
                    <a class="btn btn-primary" href="#">Contact FCOVID team</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                <div
                    class="bg-dark d-flex features-icons-item flex-column h-100 mb-0 mb-lg-3 mx-auto px-4 py-3 rounded space">
                    <h4>Media press Inquiries:</h4>
                    <a class="btn btn-light" href="#">Hackers/Founders</a>
                    <a class="btn btn-light" href="#">HACK/Fund</a>
                    <a class="btn btn-light" href="#">media@hf.cx</a>
                </div>
            </div>
        </div>
    </div>
</section>
