.features-icons {
  padding-top: 1rem;
  padding-bottom: 4rem;
  .features-icons-item {
    max-width: 20rem;
    h5 {
      font-family: 'Montserrat',Helvetica,Arial,serif;
      font-weight: 600;
      font-style: normal;
      font-size: 1em;
      color: rgba(47,54,75,1.0);
      text-align: center;
      line-height: 23.0px;
    }
    .features-icons-icon {
      height: 7rem;
      i {
        font-size: 4.5rem;
      }
    }
    &:hover {
      .features-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
}
