modal-container {
    .modal-dialog {
        .modal-content {
            background-color: rgba(239,239,239,1.0) !important;
            .modal-header {
                border: 0 !important;
                h5 {
                    font-size: 20px;
                }
            }
            .modal-body {
                padding: 2em !important;
                padding-top: 0px !important;
                .modal-title {
                    margin-bottom: 11px;
                    line-height: 1.5;
                    font-weight: 600;
                    text-align: center;
                }
                h6 {
                    padding-bottom: 0.5em;
                    padding-top: 0.5em;
                }
            }
            p {
                font-size: 12px;
                color: rgb(47, 54, 75);
            }
        }
    }
    .error {
        color: #ffffff;
        background-color: rgba(230, 114, 112, 1.0);
        margin-top: 6px;
        border-radius: 4px;
        font-size: 12px;
        p {
            padding: 5px;
        }
    }
}