.showcase {
  .showcase-text {
    padding: 1rem 3rem 7rem 3rem;
  }
  .showcase-img {
    min-height: 27rem;
    background-size: cover;
    img {
      max-width: 95%;
    }
  }
  @media (min-width: 991px) {
    .showcase-text {
      padding: 4rem 7rem 4rem 7rem;
    }
  }
}
