  <div class="modal-body">
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput0">Full Name</label>
          <input type="text" class="form-control" id="exampleFormControlInput0">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">e-mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">I am a:</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">I am interested in:</label>
            <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio">Feed the Heroes Challenge
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio">Healthcare System Data
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio">CoVent-19 Challenge
                </label>
              </div>
          </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">SubmitI want to help with:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" href="#">Submit</a>
  </div>