<!-- Masthead -->
<header class="masthead text-dark text-lg-right text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6 col-sm-8 offset-sm-2">
                <h1>F<span class="pink">/</span>COVID</h1>
                <h6>by HACKERS<span class="pink">/</span>FOUNDERS & HACK<span class="pink">/</span>Fund</h6>
                <p class="align-right">Kackers for the same goal, let fix <br> Covid-19</p>
            </div>
        </div>
    </div>
</header>

<section class="description bg-dark text-center">
    <div class="container text-white py-5">
        <p class="lead mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae ultricies purus. Quisque quis tellus
            eu mi aliquam varius. Nullam posuere pulvinar nunc. Vestibulum massa augue, egestas nec pretium sit amet,
            condimentum eget nibh. Nunc condimentum
            dapibus lectus, vel aliquam felis dignissim sed. Fusce placerat id massa in hendrerit. Pellentesque pretium,
            lorem ultricies tristique scelerisque, ante sem ornare purus, nec volutpat augue mauris vel lacus.
        </p>
        <p class="lead mb-0">
            Vivamus condimentum elit et feugiat ornare. Fusce euismod tellus id volutpat tempus. Integer porta porta
            ultrices. Praesent consequat, sem in porta ultricies, massa leo auctor diam, quis laoreet purus est eget
            purus. Quisque et semper diam, id ultricies
            libero. Fusce vitae vulputate ex, sit amet lacinia eros. Nunc in lacus blandit, interdum tortor at, mollis
            purus.
        </p>
    </div>
</section>